# Local Environment Variables
# Copy this file, rename the copy to '.env', and insert the real database password below
# DB_HOST=online-banking-system.ctmii6seypis.eu-north-1.rds.amazonaws.com
# DB_PORT=3306
# DB_NAME=online_banking
# DB_USERNAME=admin
# 'DB_PASSWORD=AAAAceg!oba!!!'